<form [formGroup]="formTask" *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" formControlName="text" id="text" placeholder="Add Text" >
    </div>
    <div class="form-control">
        <label for="day">Day $ Time</label>
        <input type="text" name="day" formControlName="day" id="day" placeholder="Add Day $ Time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" formControlName="reminder" id="reminder">
    </div>
    <button type="submit" [disabled]="!formTask.valid" class="btn btn-block"> Save Task</button>
</form>